@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    background: #f5f5f5;
    font-family: Montserrat;
    color: black;
}

nav {
    background: #0e1321;
    padding: 0 15px;
}
a {
    color: white;
    text-decoration: none;
    font-family: Montserrat;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    flex-wrap: wrap;
}
.item{
    background-color: #dcdcdc;
    padding: 30px ;
    border-radius: 10px;
    margin-bottom: 10px;
}
.item img{
    width: 250px;
    height: 300px;
}