.container{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    flex-wrap: wrap;
}
.item{
    background-color: #dcdcdc;
    padding: 30px ;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item img{
    width: 250px;
    height: 300px;

}
.btns{
    display: flex;
    gap: 15px;
    justify-content: end;
}
.remove{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.edit{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}